@keyframes wave-animation {
    0%, 100% {
      transform: translateY(0) rotate(0);
    }
    25% {
      transform: translateX(-10px) rotate(-30deg);
    }
    50% {
      transform: translateX(10px) rotate(30deg);
    }
    75% {
      transform: translateX(-5px) rotate(-15deg);
    }
  }
  
  .hand-animation {
    animation: wave-animation 2s infinite; /* Replace '2s' with the desired animation duration */
  }
  

  /* Define the @keyframes for the marquee animation */
  @keyframes marquee-animation {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee-text {
    will-change: transform; /* Add the will-change property to optimize rendering */
    animation: marquee-animation 10s linear infinite;
  }
  